@page
@model Rezor_sample_EF.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Emp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Emp.Empno" />
            <div class="form-group">
                <label asp-for="Emp.Ename" class="control-label"></label>
                <input asp-for="Emp.Ename" class="form-control" />
                <span asp-validation-for="Emp.Ename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp.Job" class="control-label"></label>
                <input asp-for="Emp.Job" class="form-control" />
                <span asp-validation-for="Emp.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp.Mgr" class="control-label"></label>
                <input asp-for="Emp.Mgr" class="form-control" />
                <span asp-validation-for="Emp.Mgr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp.Hiredate" class="control-label"></label>
                <input asp-for="Emp.Hiredate" class="form-control" />
                <span asp-validation-for="Emp.Hiredate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp.Sal" class="control-label"></label>
                <input asp-for="Emp.Sal" class="form-control" />
                <span asp-validation-for="Emp.Sal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp.Comm" class="control-label"></label>
                <input asp-for="Emp.Comm" class="form-control" />
                <span asp-validation-for="Emp.Comm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emp.Deptno" class="control-label"></label>
                <input asp-for="Emp.Deptno" class="form-control" />
                <span asp-validation-for="Emp.Deptno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
